<?xml version="1.0"?>
<config>
    <modules>
        <Magoffice_Login>
            <version>0.1.0</version>
        </Magoffice_Login>
    </modules>
    <global>
        <helpers>
            <magoffice_login>
                <class>Magoffice_Login_Helper</class>
            </magoffice_login>
        </helpers>
        <models>
            <magoffice_login>
                <class>Magoffice_Login_Model</class>
            </magoffice_login>
        </models>
    </global>
    <frontend>
        <routers>
            <magoffice_login>
                <use>standard</use>
                <args>
                    <module>Magoffice_Login</module>
                    <frontName>magofficelogin</frontName>
                </args>
            </magoffice_login>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Magoffice_Multiwishlist>
                    <files>
                        <default>Magoffice_Multiwishlist.csv</default>
                    </files>
                </Magoffice_Multiwishlist>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magoffice_rupture_login>
                                            <title>Rupture LOGIN</title>
                                        </magoffice_rupture_login>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <magoffice_rupture_login>
            <login_rupture_configuration>
                <user_login_service>LOGIN_WMS</user_login_service>
                <password_login_service>password</password_login_service>
            </login_rupture_configuration>
        </magoffice_rupture_login>
    </default>
</config>