<?xml version="1.0"?>
<config>
    <modules>
        <Cgi_LengowSync>
            <version>1.0.3</version>
        </Cgi_LengowSync>
    </modules>
    <global>
        <models>
            <cgi_lensync>
                <class>Cgi_LengowSync_Model</class>
                <resourceModel>cgi_lensync_mysql4</resourceModel>
            </cgi_lensync>
            <lensync>
                <rewrite>
                    <import>Cgi_LengowSync_Model_Import</import>
                    <customer_customer>Cgi_LengowSync_Model_Customer_Customer</customer_customer>
                </rewrite>
            </lensync>
            <cgi_lensync_mysql4>
                <class>Cgi_LengowSync_Model_Mysql4</class>
                <entities>
                    <orders>
                        <table>lengow_status_update</table>
                    </orders>
                </entities>
            </cgi_lensync_mysql4>
        </models>
        <resources>
            <cgi_lengowsync_setup>
                <setup>
                    <module>Cgi_LengowSync</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cgi_lengowsync_setup>
        </resources>
    </global>
    <default>
        <lensync>
            <test_mode_magoffice>
                <mode_test>0</mode_test>
            </test_mode_magoffice>
            <config_trade_ws_market_place>
                <textarea_json>{}</textarea_json>
            </config_trade_ws_market_place>
        </lensync>
        <payment>
            <market_place>
                <active>1</active>
                <model>lensync/payment_method_lengow</model>
                <order_status>pending</order_status>
                <title>Market Place</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </market_place>
            <market_place_purchaseorder>
                <active>1</active>
                <model>lensync/payment_method_lengow</model>
                <order_status>new</order_status>
                <title>Market Place (version 1.x)</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </market_place_purchaseorder>
        </payment>
    </default>
</config>
