<?xml version="1.0"?>
<config>
    <modules>
        <Magoffice_Sellsecure>
            <version>0.1.4</version>
        </Magoffice_Sellsecure>
    </modules>
    <global>
        <blocks>
            <magoffice_sellsecure>
                <class>Magoffice_Sellsecure_Block</class>
            </magoffice_sellsecure>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Magoffice_Sellsecure_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <magoffice_sellsecure>
                <class>Magoffice_Sellsecure_Helper</class>
            </magoffice_sellsecure>
        </helpers>
        <models>
            <magoffice_sellsecure>
                <class>Magoffice_Sellsecure_Model</class>
                <resourceModel>magoffice_sellsecure_mysql4</resourceModel>
            </magoffice_sellsecure>
            <magoffice_sellsecure_mysql4>
                <class>Magoffice_Sellsecure_Model_Mysql4</class>
                <entities>
                    <sell_secure_order>
                        <table>sell_secure_order</table>
                    </sell_secure_order>
                </entities>
            </magoffice_sellsecure_mysql4>
        </models>
        <resources>
            <magoffice_sellsecure_setup>
                <setup>
                    <module>Magoffice_Sellsecure</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magoffice_sellsecure_setup>
            <magoffice_sellsecure_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magoffice_sellsecure_write>
            <magoffice_sellsecure_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magoffice_sellsecure_read>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <magoffice_sellsecure_order_place_after>
                        <class>magoffice_sellsecure/observer</class>
                        <method>setSellSecureOrder</method>
                    </magoffice_sellsecure_order_place_after>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Magoffice_Sellsecure>
                    <files>
                        <default>Magoffice_Sellsecure.csv</default>
                    </files>
                </Magoffice_Sellsecure>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magoffice_sellsecure>
                                            <title>Sell Secure</title>
                                        </magoffice_sellsecure>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <magoffice_sellsecure>
                <use>admin</use>
                <args>
                    <module>Magoffice_Sellsecure</module>
                    <frontName>magoffice_sellsecure</frontName>
                </args>
            </magoffice_sellsecure>
        </routers>
    </admin>
    <default>
        <magoffice_sellsecure>
            <flow_url_mapping>
                <execute_mode_activation>0</execute_mode_activation>
            </flow_url_mapping>
            <orders_eligibility>
                <recovery_time_limit>6</recovery_time_limit>
                <force_recovery_time_limit>15</force_recovery_time_limit>
            </orders_eligibility>
            <threshold_evaluation>
                <max_score>100</max_score>
                <reliable_score>90</reliable_score>
                <warning_score>80</warning_score>
            </threshold_evaluation>
        </magoffice_sellsecure>
    </default>
</config>