<?xml version="1.0"?>
<config>
    <modules>
        <Magoffice_Chili>
            <version>0.1.6</version>
        </Magoffice_Chili>
    </modules>
    <global>
        <blocks>
            <magoffice_chili>
                <class>Magoffice_Chili_Block</class>
            </magoffice_chili>
            <web2print>
                <rewrite>
                    <editor>Magoffice_Chili_Block_Editor</editor>
                </rewrite>
            </web2print>
        </blocks>
        <helpers>
            <magoffice_chili>
                <class>Magoffice_Chili_Helper</class>
            </magoffice_chili>
        </helpers>
        <models>
            <magoffice_chili>
                <class>Magoffice_Chili_Model</class>
            </magoffice_chili>
            <web2print>
                <rewrite>
                    <observer>Magoffice_Chili_Model_Observer</observer>
                    <pdf>Magoffice_Chili_Model_Pdf</pdf>
                </rewrite>
            </web2print>
        </models>
        <resources>
            <magoffice_chili_setup>
                <setup>
                    <module>Magoffice_Chili</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magoffice_chili_setup>
            <magoffice_chili_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magoffice_chili_write>
            <magoffice_chili_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magoffice_chili_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <web2print>
                <args>
                    <modules>
                        <Magoffice_Chili before="Chili_Web2print">Magoffice_Chili</Magoffice_Chili>
                    </modules>
                </args>
            </web2print>
        </routers>
        <events>
            <catalog_controller_category_init_after>
                <observers>
                    <magoffice_chili_category_crossing>
                        <type>singleton</type>
                        <class>magoffice_chili/observer</class>
                        <method>categoryCrossing</method>
                    </magoffice_chili_category_crossing>
                </observers>
            </catalog_controller_category_init_after>
            <checkout_cart_product_add_after>
                <observers>
                    <magoffice_chili_add_item_observer>
                        <type>singleton</type>
                        <class>magoffice_chili/observer</class>
                        <method>setConfiguration</method>
                    </magoffice_chili_add_item_observer>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <magoffice_chili_save_order_after>
                        <type>singleton</type>
                        <class>magoffice_chili/observer</class>
                        <method>setOrderItemId</method>
                    </magoffice_chili_save_order_after>
                </observers>
            </checkout_type_onepage_save_order_after>
            <sales_order_place_after>
                <observers>
                    <chili_web2print_pdf_observer>
                        <type>model</type>
                        <class>magoffice_chili/observer</class>
                        <method>orderPlaceAfterCreatePdf</method>
                    </chili_web2print_pdf_observer>
                </observers>
            </sales_order_place_after>
        </events>
        <layout>
            <updates>
                <web2print module="web2print">
                    <file>chili.xml</file>
                </web2print>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
            <web2print module="web2print">
                <title>Atelier Impression</title>
                <sort_order>15</sort_order>
                <children>
                    <pdfexport module="web2print">
                        <title>PDF export</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/pdfs/index</action>
                    </pdfexport>
                    <logs module="web2print">
                        <title>Logs</title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/logs/index</action>
                    </logs>
                </children>
            </web2print>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <web2print translate="title">
                            <title>CHILI Web2print</title>
                            <children>
                                <pdfexport>
                                    <title>PDF export</title>
                                </pdfexport>
                                <logs>
                                    <title>Logs</title>
                                </logs>
                            </children>
                        </web2print>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <web2print>
                                            <title>Chili Web2Print</title>
                                        </web2print>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_predispatch_adminhtml_sales_order_create_cancel>
                <observers>
                    <magoffice_chili_add_item_observer>
                        <type>singleton</type>
                        <class>magoffice_chili/observer</class>
                        <method>removeConfiguration</method>
                    </magoffice_chili_add_item_observer>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_cancel>
        </events>
    </adminhtml>
    <default>
        <web2print>
            <configurator>
                <config_help_link>{{unsecure_base_url}}commentconfigurercartevisite/</config_help_link>
                <basic_margin>45</basic_margin>
                <generic_reference>144108</generic_reference>
                <recto_label>Verso libre</recto_label>
                <recto_verso_label>Recto verso</recto_verso_label>
                <fonts_list>{"1":"Arial","2":"Calibri","3":"Cambria"}</fonts_list>
                <min_font_size>8</min_font_size>
                <max_font_size>14</max_font_size>
            </configurator>
        </web2print>
    </default>
</config>