<?xml version="1.0"?>
<config>
    <modules>
        <Magoffice_Catalog>
            <version>0.0.8</version>
        </Magoffice_Catalog>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_super_config_grid>Magoffice_Catalog_Adminhtml_Block_Catalog_Product_Edit_Tab_Super_Config_Grid</catalog_product_edit_tab_super_config_grid>
                </rewrite>
                <rewrite>
                    <catalog_product_grid>Magoffice_Catalog_Adminhtml_Block_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <breadcrumbs>Magoffice_Catalog_Block_Breadcrumbs</breadcrumbs>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <magoffice_catalog>
                <class>Magoffice_Catalog_Helper</class>
            </magoffice_catalog>
        </helpers>
        <models>
            <catalog_resource>
                <rewrite>
                    <product_collection>Magoffice_Catalog_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <magoffice_catalog_setup>
                <setup>
                    <module>Magoffice_Catalog</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </magoffice_catalog_setup>
        </resources>
        <models>
            <magoffice_catalog>
                <class>Magoffice_Catalog_Model</class>
                <resourceModel>magoffice_catalog_resource</resourceModel>
            </magoffice_catalog>
            <magoffice_catalog_resource>
                <class>Magoffice_Catalog_Model_Resource</class>
                <entities>
                    <custom_relation>
                        <table>catalog_product_custom_relation</table>
                    </custom_relation>
                    <custom_child_relation>
                        <table>catalog_product_custom_child_relation</table>
                    </custom_child_relation>
                </entities>
            </magoffice_catalog_resource>
        </models>
    </global>
</config>

