<?xml version="1.0"?>
<config>
    <modules>
        <Magoffice_Multiwishlist>
            <version>0.1.3</version>
        </Magoffice_Multiwishlist>
    </modules>
    <global>
        <blocks>
            <magoffice_multiwishlist>
                <class>Magoffice_Multiwishlist_Block</class>
            </magoffice_multiwishlist>
            <amlist>
                <rewrite>
                    <index>Magoffice_Multiwishlist_Block_Index</index>
                    <edit>Magoffice_Multiwishlist_Block_Edit</edit>
                </rewrite>
            </amlist>
        </blocks>
        <helpers>
            <magoffice_multiwishlist>
                <class>Magoffice_Multiwishlist_Helper</class>
            </magoffice_multiwishlist>
        </helpers>
        <models>
            <magoffice_multiwishlist>
                <class>Magoffice_Multiwishlist_Model</class>
            </magoffice_multiwishlist>
            <amlist>
                <rewrite>
                    <list>Magoffice_Multiwishlist_Model_List</list>
                </rewrite>
            </amlist>
            <amlist_mysql4>
                <rewrite>
                    <item>Magoffice_Multiwishlist_Model_Mysql4_Item</item>
                </rewrite>
            </amlist_mysql4>
        </models>
        <resources>
            <magoffice_multiwishlist_setup>
                <setup>
                    <module>Magoffice_Multiwishlist</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magoffice_multiwishlist_setup>
            <magoffice_multiwishlist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magoffice_multiwishlist_write>
            <magoffice_multiwishlist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magoffice_multiwishlist_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <amlist>
                <use>standard</use>
                <args>
                    <modules>
                        <Magoffice_Multiwishlist before="Amasty_List">Magoffice_Multiwishlist</Magoffice_Multiwishlist>
                    </modules>
                </args>
            </amlist>
            <magoffice_multiwishlist>
                <use>standard</use>
                <args>
                    <module>Magoffice_Multiwishlist</module>
                    <frontName>multiwishlist</frontName>
                </args>
            </magoffice_multiwishlist>
        </routers>
        <layout>
            <updates>
                <magoffice_multiwishlist>
                    <file>multiwishlist.xml</file>
                </magoffice_multiwishlist>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magoffice_Multiwishlist>
                    <files>
                        <default>Magoffice_Multiwishlist.csv</default>
                    </files>
                </Magoffice_Multiwishlist>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Magoffice_Multiwishlist>
                    <files>
                        <default>Magoffice_Multiwishlist.csv</default>
                    </files>
                </Magoffice_Multiwishlist>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magoffice_multiwishlist>
                                            <title>Top Office Multi Wishlist</title>
                                        </magoffice_multiwishlist>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <magoffice_multiwishlist>
            <wishlist_configuration>
                <max_customer_wishlist>5</max_customer_wishlist>
                <wishlist_favorite_products_name>Mes produits favoris</wishlist_favorite_products_name>
                <wishlist_favorite_minimum_orders>1</wishlist_favorite_minimum_orders>
                <wishlist_favorite_days_for_minimum_order>180</wishlist_favorite_days_for_minimum_order>
                <wishlist_favorite_days_from_last_order>7</wishlist_favorite_days_from_last_order>
                <wishlist_favorite_maximum_products>15</wishlist_favorite_maximum_products>
            </wishlist_configuration>
        </magoffice_multiwishlist>
    </default>
</config>