<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <flux_cashflow translate="label">
            <label>Cashflow Control</label>
            <tab>flux</tab>
            <frontend_type>text</frontend_type>
            <sort_order>25</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <cashflow_control translate="label">
                    <label>Cashflow Control</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <nb_days_to_consolidated translate="label">
                            <label>Nombre de jours à consolider</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </nb_days_to_consolidated>
                    </fields>
                </cashflow_control>
            </groups>
        </flux_cashflow>
    </sections>
</config>
