<?xml version="1.0"?>
<config>
    <modules>
        <Magoffice_Exaprint>
            <version>0.1.20</version>
        </Magoffice_Exaprint>
    </modules>
    <global>
        <models>
            <magoffice_exaprint>
                <class>Magoffice_Exaprint_Model</class>
                <resourceModel>magoffice_exaprint_mysql4</resourceModel>
            </magoffice_exaprint>
            <magoffice_exaprint_mysql4>
                <class>Magoffice_Exaprint_Model_Mysql4</class>
                <entities>
                    <options>
                        <table>exaprint_option_def</table>
                    </options>
                    <cardconfig>
                        <table>carte_configuration</table>
                    </cardconfig>
                    <zipcode>
                        <table>exaprint_zipcode</table>
                    </zipcode>
                </entities>
            </magoffice_exaprint_mysql4>
        </models>
        <helpers>
            <magoffice_exaprint>
                <class>Magoffice_Exaprint_Helper</class>
            </magoffice_exaprint>
        </helpers>
        <blocks>
            <magoffice_exaprint>
                <class>Magoffice_Exaprint_Block</class>
            </magoffice_exaprint>
        </blocks>
        <resources>
            <magoffice_exaprint_setup>
                <setup>
                    <module>Magoffice_Exaprint</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magoffice_exaprint_setup>
        </resources>
        <events>
            <sales_order_invoice_save_after>
                <observers>
                    <exaprint_order_status_observer>
                        <class>magoffice_exaprint/observer</class>
                        <method>updateSupplierOrderAfterInvoice</method>
                    </exaprint_order_status_observer>
                </observers>
            </sales_order_invoice_save_after>
            <sales_quote_item_delete_before>
                <observers>
                    <exaprint_quote_item_delete_config_observer>
                        <class>magoffice_exaprint/observer</class>
                        <method>deleteItemConfig</method>
                    </exaprint_quote_item_delete_config_observer>
                </observers>
            </sales_quote_item_delete_before>
            <sales_quote_merge_after>
                <observers>
                    <exaprint_sales_quote_merge_after>
                        <class>magoffice_exaprint/observer</class>
                        <method>mergeQuoteConfigurations</method>
                    </exaprint_sales_quote_merge_after>
                </observers>
            </sales_quote_merge_after>
        </events>
    </global>
    <frontend>
        <routers>
            <magoffice_exaprint>
                <use>standard</use>
                <args>
                    <module>Magoffice_Exaprint</module>
                    <frontName>configurateur</frontName>
                </args>
            </magoffice_exaprint>
            <web2print>
                <args>
                    <modules>
                        <Magoffice_Chili before="Chili_Web2print">Magoffice_Chili</Magoffice_Chili>
                    </modules>
                </args>
            </web2print>
        </routers>
        <layout>
            <updates>
                <magoffice_exaprint>
                    <file>exaprint.xml</file>
                </magoffice_exaprint>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magoffice_Exaprint before="Mage_Adminhtml">Magoffice_Exaprint_Adminhtml</Magoffice_Exaprint>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <magoffice_exaprint>
                    <file>magoffice/exaprint.xml</file>
                </magoffice_exaprint>
            </updates>
        </layout>
        <menu>
            <web2print>
                <children>
                    <options>
                        <title>Options carte de visite</title>
                        <sort_order>2</sort_order>
                        <action>adminhtml/options/index</action>
                    </options>
                </children>
            </web2print>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <exaprint translate="title" module="magoffice_exaprint">
                                            <title>Exaprint</title>
                                            <sort_order>50</sort_order>
                                        </exaprint>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
                <web2print>
                    <children>
                        <options translate="title" module="magoffice_exaprint">
                            <title>Options carte de visite</title>
                        </options>
                    </children>
                </web2print>
            </resources>
        </acl>
        <translate>
            <modules>
                <magoffice_exaprint>
                    <files>
                        <default>Magoffice_Exaprint.csv</default>
                    </files>
                </magoffice_exaprint>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <exaprint>
            <adapter_soap>
                <url_webservice>http://connect.exapass.fr/?wdsl</url_webservice>
            </adapter_soap>
            <ftp>
                <host>94.103.137.81</host>
                <port>21</port>
                <username>orderId</username>
                <password>contactPassword</password>
            </ftp>
            <api_configuration>
                <exec_mode>0</exec_mode>
                <min_updated>2</min_updated>
            </api_configuration>
            <status_configuration>
                <order_not_complete>1,2,3,4,5,6,7,8,9</order_not_complete>
                <order_in_progress>10</order_in_progress>
                <order_error>11,12</order_error>
                <order_shipment_in_progress>20</order_shipment_in_progress>
                <order_canceled>23</order_canceled>
                <order_complete>21</order_complete>
            </status_configuration>
        </exaprint>
    </default>
</config>